<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ***Example 1***
    {{range .}}
    {{.}}
    {{end}}

    ***Example 2***    <!--The Key Word If Its Used For Check Data -->
    {{if .}}
    {{.}}
    {{end}}

    ***Example 3***
    {{ range .}}
        {{ if .Name }}
            {{ .Name }}
        {{ end }}
    {{ end }}

    ***Example 4***
    {{range .}}
    {{if and .Name .Admin}}
    Names: {{.Name}}
    Admin: {{.Admin}}
    {{end}}
    {{end}}

</body>
</html>