<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- {{range .}}
        <li>{{.}}</li>
        {{end}} --> <!--This Will Only Give Me The Value But Not The Key-->
        {{range $key,$value := .}}
        <li>{{$key}} - {{$value}} </li>
        {{end}}
</body>
</html>